<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735959183109-0gbmpqgsedcpo6v9757b4uc2ma89rpe1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735959183109-0gbmpqgsedcpo6v9757b4uc2ma89rpe1</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ9mo_-ukeGfAKIIKYfZoR528GNgCFDYw</string>
	<key>GCM_SENDER_ID</key>
	<string>735959183109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp191101</string>
	<key>PROJECT_ID</key>
	<string>shoeapp-e3be5</string>
	<key>STORAGE_BUCKET</key>
	<string>shoeapp-e3be5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735959183109:ios:f6a4de2429894fa8abd16c</string>
	<key>DATABASE_URL</key>
	<string>https://shoeapp-e3be5.firebaseio.com</string>
</dict>
</plist>